body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

#simpletimer-example-stopwatch-bounded {
  background-color: white;
  color: rebeccapurple;
}

.timer-style-1 {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.timer-style-1 > div {
  width: 100%;
}

.timer-style-1 .simpletimer-sub {
  width: 25%;
  font-size: 5em;
  font-weight: bold;
}

.timer-style-1 .simpletimer-sub span {
  font-size: 75%;
  font-weight: normal;
}